#                                                                   -*- conf -*-

# Editor backup files
*~
\#*
.\#*

# aclocal
aclocal.m4
autom4te.cache/

# libtoolize
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# autoconf
configure

# automake
Makefile.in
compile
config.guess
config.sub
depcomp
install-sh
missing

# configure
.deps/
Makefile
config.log
config.status
config.urp
libtool

# make
.dirstamp
*.la
*.lo
*.o

.libs/
